
body {
  margin: 0;
  font-family: Arial;
  background: #111;
}

* {
  box-sizing: border-box;
}

h1, h3 {
  font-weight: 400;
  font-size: 80px;
}





.weather-app {
  min-height: 100vh;
  background-image: url(./images/day/cloudy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  transition: 1000ms;
  opacity: 0; 
}

.container > div {
  padding-left: 10em;
  padding-bottom: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}




.panel {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0px;
  border-radius: 500em;
  background: rgb(17, 17, 17);
  box-shadow: 0 15px 32px 0 rgba(0, 0, 0, 1);
  border: 3px solid rgb(0, 0, 0);
  z-index: 1;
  padding: 20em 2em;
  overflow-Y: scroll;
}

.panel form {
  margin-bottom: 3em;
}

.weather-app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 2em 3em 4em 3em;
}


.submit {
  position: absolute;
  border-radius: 10px;
  border: none;
  outline: none;
  color: rgb(20, 20, 20);
  cursor: pointer;
  font-size: 1.6em;
}


.search {
  background: none;
  border: solid;
  padding: 1 1em 0.5em 0;
  width: 80%;
  color: #fff;
  font-size: 1.4em;
}

.city-time h1 {
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 5em;
}

.temp {
  font-size: 7em;
  margin: 0;
}

.weather img {
  display: block;
  margin: 0.5em 0;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: #ccc;
}

.panel ul {
  padding: 0 0 1em 0;
  margin: 2em 0;
  border-bottom: 1px #ccc solid;
}

.panel ul li {
  color: #ccc;
  margin: 0.3em ;
}

.panel ul h4 {
  margin: 1em 0;
}

.city {
 display: block;
 cursor: pointer;
}

.city:hover {
  color: #fff;
}

.details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  html {
   font-size: 14px;
  }
  .temp {
   font-size: 4em;
  }
}

@media screen and (max-width: 800px) {
  .panel, .container {
    position: relative;
    width: 100%;
    top: initial;
  }
}

@media screen and (max-width: 500px) {
  html {
   font-size: 12px;
  }
}

@media screen and (max-height: 300px) {
  .weather-app {
    min-height: 40em; 
  }
}




















